@charset "UTF-8";

html{
    height: 120%;
}

body{
    background: #186AC9;
}

html,body{
  overflow: hidden
}

header div p{
    padding-bottom: 30px;
}
/* header */
.header_color{
    background:#186AC9;
}

.top{
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    margin: auto;
    padding: 10px 0;
}
.top p{
    font-size: 15px;
    text-align: center;
}

.login{
    display: block;
    text-align: center;
    z-index: 1;
    padding: 3px 0px;
}

/* ログインラベル*/
/* 新規ログイン画面と別々にしないとだめ */

.login-block{
    background-color:rgba(39,40,34,0.3);
    z-index: -1;
    border-radius:10px;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
}

.login-new{
    background-color:rgba(39,40,34,0.3);
    z-index: -1;
    border-radius:10px;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
}

.login-input h2,.login-input p,.login-new h2,.login-new p{
    text-align: center;
    color: white;
    padding: 10px;
}

h2{
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.login-input{
    padding: 10px 0;
}

/* なんで背景色が利かないの？ */
#top_color{
    margin: 0 auto;
    height: 200vh;
    width: 100vh;
    background-image:linear-gradient(0deg, #FEE32E 0%, #1A7DD8 100%);
}
.login-form h1 .Atlas-top{
    display: block;
    margin: 0 auto;
}


/*ログイン画面*/
form label,form input{
    position:relative;
    z-index: 10;
    border-radius: 3px;
    padding:10px 10px;
    width: 80%;
}

form label{
    color: white;
    display: block;
    text-align: left;
}

.login-block p,p a{
    text-align: center;
    color: white;
}

.top-comment{
    padding-top: 10px;
}

.login-block p a{
    display: block;
    padding: 10px 0;
}

.login-form p{
    text-align: center;
    color: white;
    font-size: 20px;
}

.atlas-top{
    margin: 0 auto;
    padding-top: 50px;
    display: block;
    width: 150px;
    height: auto;
}

.login-form{
    margin: 0 auto;
    height: 80%;
    width: 80%;
}
.login-submit{
    display: block;
    margin: 10px 10px 0 auto;
    color: #fff;
    background-color: #ED3A50;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-family: "Hiragino Kaku Gothic ProN";
    line-height: 1;
    padding: 10px;
    max-width: 150px;
    border-radius: 5px;
}

.login-btn{
    display: block;
    margin: 0 10px 0 auto;
    color: #fff;
    background-color: #ED3A50;
    cursor: pointer;
    border: none;
    font-size: 18px;
    font-family: "Hiragino Kaku Gothic ProN";
    line-height: 1;
    padding: 10px;
    max-width: 150px;
    border-radius: 5px;
    margin: 0 auto;
}
/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
}
#container{
    flex: 0 0 80%;
}
#side-bar{
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

.list{
    display: flexbox;
    height: 5%;
    text-align: center;
}

.post{
    display: block;
}

.posts{  /*投稿内容*/
    margin-bottom: 5%;
}

#menu{
  text-align: right;
}

/* 新規登録 */

.btn a{
    text-align: center;
}
